
@media (max-width: $site-width)
	.right 
		display: none 
	.userMenu 
		ul 
			padding: 0
	.postboard, #postboard-top.onTop
		position: absolute
		left: 135px
		right: 20px
		width: auto

	.modal-wrapper
		width: 85%
		.postboard
			width: $postboardWidth
			float: left
			position: relative 
			left: 0

@media (max-width: 600px)

