
@media (max-width: $site-width)
	.right 
		display: none 
	.userMenu 
		ul 
			padding: 0
	.postboard, #postboard-top.onTop
		position: absolute
		left: $leftWidth 
		right: 20px
		width: auto

	.modal-wrapper
		width: 85%
		.postboard
			width: $postboardWidth
			float: left
			position: relative 
			left: 0

@media (max-width: 700px)

	.network
		&.singleBlock
			.module
				margin-bottom: 50px
				width: 98%
				margin: 0 auto 50px auto 
				float: none
				margin-right: auto 
	.dashboard
		&.left
			top: $menu-height 
			float: none
			width:  100%
			> .module
				width: 100%
				position: fixed
				top: $menu-height 
				z-index: 2
	.promoted-posts-only
		display: none
	.postboard 
		float: none 
		width: 100%
		margin: 0
		top: $menu-height +70
		left: 0
		z-index: 1
		.modal-wrapper & 
			top: auto
	.mini-profile-info
		display: none 
	.mini-profile-indicators li 
		width: 25% 
		float: left
		position: relative 
		z-index: 2
	#postboard-top 
		position: fixed 
		bottom: 0
		width: 100%
		top: auto
		margin: 0
		+box-shadow(0px -5px 13px rgba(17, 17, 17, 0.2))
	.userMenu .userMenu-profile 
		display: none
	.userMenu ul 
		background-image: none